<!-- Контакти -->
<section class="contacts">
      <div class="border border-contacts"></div>
      <div class="container contacts-container">
      <div class="contacts_title-wrapper title-wrapper">
      <h2 class="contacts_title" id="contacts">Контакти</h2>
      </div>
      <div class="wrapper-contacts">
          <div class="contacts-phone">
          <svg class="phone-icon-contacts" width="30" height="30">
          <use href="./images/sprite.svg#icon-black_phone-solid"></use>
          </svg>
            <a class="contacts-tel link" href="tel:+380445026040"
              >+380445026040</a>
        </div>
        <div class="map">
<iframe class="google-map" 
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.311051731096!2d30.63449987696071!3d50.453932187112585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4daadff3d2c31%3A0xc9fafd36117be54e!2z0JDQoiDQo9C60YDQotC-0LnRgQ!5e0!3m2!1suk!2sua!4v1692612362128!5m2!1suk!2sua" 
width="600"
height="450"
style="border:0;" 
loading="lazy" 
referrerpolicy="no-referrer-when-downgrade"></iframe>   
<iframe class="map-for-desctop" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.311051731096!2d30.63449987696071!3d50.453932187112585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4daadff3d2c31%3A0xc9fafd36117be54e!2z0JDQoiDQo9C60YDQotC-0LnRgQ!5e0!3m2!1suk!2sua!4v1692705636501!5m2!1suk!2sua" width="1200" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

      </div>
</section>
