<!-- Переваги -->
<section class="features">
        <div class="border border-features"></div>
        <div class="container feutures-container">
        <div class="features_title-wrapper title-wrapper">
          <h2 class="features_title" id="features">переваги</h2>
        </div>
          <ul class="feutures-list list">
            <li class="feutures-item">
              <div class="feutures-icon">
                <svg class="features-icon-inf" width="130" height="115">
                  <use href="./images/sprite.svg#icon-infrastructura"></use>
                </svg>
              </div>
              <h3 class="feutures-subtitle">Інфраструктура</h3>
              <p class="feutures-text">
                Розташування біля ТРЦ Проспект, університету, офісних центрів, фітнес-клубу Спортлайф, парковка біля Гіпермаркету АШАН
              </p>
            </li>
            <li class="feutures-item">
              <div class="feutures-icon">
                <svg class="features-icon-saf" width="109" height="109">
                  <use href="./images/sprite.svg#icon-safery"></use>
                </svg>
              </div>
              <h3 class="feutures-subtitle">безпека</h3>
              <p class="feutures-text">
                Можливість спуститись в підвал під час повітряної небезпеки
            </li>
            <li class="feutures-item">
              <div class="feutures-icon">
                <svg class="features-icon-stab" width="145" height="115">
                  <use href="./images/sprite.svg#icon-stability"></use>
                </svg>
              </div>
              <h3 class="feutures-subtitle">стабільність</h3>
              <p class="feutures-text">
                Забезпечення світлом в часи блекаут
              </p>
            </li>
            <li class="feutures-item">
              <div class="feutures-icon">
                <svg class="features-icon-loc" width="123" height="123">
                  <use href="./images/sprite.svg#icon-location"></use>
                </svg>
              </div>
              <h3 class="feutures-subtitle">розташування</h3>
              <p class="feutures-text">
                Зручна транспортна розвʼязка Доступ до м.Чернігівська 7 хвилин
              </p>
            </li>
          </ul>
        </div>
      </section>


