<!-- Галерея -->
<section class="gallery">
  <div class="border border-gallery"></div>
  <div class="container gallery-container">
    <div class="gallery_title-wrapper title-wrapper">
      <h2 class="gallery_title" id="gallery">галерея</h2>
    </div>
    <div class="gallery-photo mySwiper">
      <div class="swiper-wrapper gal-swiper">
        <div class="swiper-slide gal-swiper-slide">
          <div class="swiper-slide-image image-gal">
            <picture>
              <source srcset="./images/gallery/01_0072-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_01-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_01-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide ">'
          <div class="swiper-slide-image image-gal">
            <picture>
              <source srcset="./images/gallery/02_0089-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_02-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_02-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide ">
          <div class="swiper-slide-image image-gal">
            <picture>
              <source srcset="./images/gallery/03_0093-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_03-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_03-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide ">
          <div class="swiper-slide-image image-gal">
            <picture>
              <source srcset="./images/gallery/04_5469-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_04-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_04-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide ">
          <div class="swiper-slide-image image-gal">
            <picture>
              <source srcset="./images/gallery/05_5476-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_05-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_05-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide ">
          <div class="swiper-slide-image image-gal">
            <picture>
              <source srcset="./images/gallery/06_5499-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_06-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_06-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide ">
          <div class="image-gal">
            <picture>
              <source srcset="./images/gallery/1440-desc.jpg" media="(min-width: 821px)" />
              <source srcset="./images/gallery/471_354_07-mob.jpg" media="(max-width: 820px)" />
              <img src="./images/gallery/471_354_07-mob.jpg" alt="gallery" width="475" height="340" />
            </picture>
          </div>
        </div>
         <div class="swiper-button-prev btn-gallery-prev">
          <svg class="gal-left-icon" width="55" height="55">
            <use href="./images/sprite.svg#icon-arrow-left-gal"></use>
          </svg>
        </div>
        <div class="swiper-button-next btn-gallery-next">
          <svg class="gal-right-icon" width="55" height="55">
            <use href="./images/sprite.svg#icon-arrow-right-gal"></use>
          </svg>
      </div> 
      </div>

    </div>


</section>