 <!--Hero-->
      <section class="hero">
        <div class="container hero-container">
          <div class="wrapper-hero">
          <div class="hero-phone">
          <svg class="phone-icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-basil-phone-solid"></use>
          </svg>
            <a class="address-tel link" href="tel:+380679643793"
              >+380679643793</a>
        </div>
        <div class="hero-title-wrapper">
          <h1 class="hero-title">Оренда офісних приміщень</h1>
        </div>
          </div>
        </div>
      </section>
