      <div class="mob-menu is-hidden" data-menu>
        <button type="button" data-menu-close class="menu-close-btn">
        <svg class="menu-close-icon" width="15" height="15">
          <use href="./images/sprite.svg#icon-close-black"></use>
        </svg>
        </button>
        <ul class="mob-menu-list list">
          <li class="mob-header-item">
            <a class="header-link link" href="#about">Про нас</a>
          </li>
          <li class="mob-header-item">
            <a class="header-link link" href="#features">Переваги</a>
          </li>
          <li class="mob-header-item">
            <a class="header-link link" href="#premises">Вільні приміщення</a>
          </li>
          <li class="mob-header-item">
            <a class="header-link link" href="#gallery">Галерея</a>
          </li>
          <li class="mob-header-item">
            <a class="header-link link" href="#contacts">Контакти</a>
          </li>
        </ul>
      </div>
