<!-- Вільні приміщення -->
<section class="premises">
      <div class="border border-premises"></div>
      <div class="container premises-container">
      <div class="premises_title-wrapper title-wrapper">
      <h2 class="premises_title" id="premises">вільні приміщення</h2>
      </div>
      <!-- <div class="container-green"></div>
      <div class="container-blue"></div> -->

<div class="premises-swiper swiper">
  <div class="swiper-wrapper swiper-wrapper-premices">

    <!-- <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image premices-image">
        <picture>
          <source srcset="./images/premises/013_desc/013_364-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/013_mob/013_273_322-min.jpg" media="(max-width: 820px)" />
          <img class="free-premises-img" alt="premices" src="./images/premises/013_mob/013_273_322-min.jpg" width="273" height="322"/>
            </picture>
  <div class="top-block">
  <span class="premises-floor">поверх</span>
  <span class="floor-number">-1</span>
  <span class="room-number">013</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">51,7 метри</p>
        <p class="free-premises-title"></p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх 013. Кабінет правильної прямокутної форми. Покриття лінолеум</p>
        <button type="button" class="more-detail" data-id="13" data-modal-open>Більше фото</button>
    
        </div>
      </div>
    </div> -->

    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/014_desc/014_364_5_429_8-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/014_mob/014_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" alt="premices" src="./images/premises/014_mob/014_273_322-min.jpg" width="273" height="322"/>
            </picture>
  <div class="top-block">
  <p class="premises-floor">поверх</p>
  <span class="floor-number">-1</span>
  <span class="room-number">014</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">51,5 метри</p>
        <p class="free-premises-title">може бути суміжний з 015</p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх. Кабінет правильної прямокутної форми. Покриття лінолеум</p>
        <button type="button" class="more-detail" data-id="14" data-modal-open>Більше фото</button>
        </div>
      </div>
    </div>

    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/015_desc/015_364_5_429_8-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/015_mob/015_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" alt="premices" src="./images/premises/015_mob/015_273_322-min.jpg" width="273" height="322"/>
            </picture>
<div class="top-block">
  <p class="premises-floor">поверх</p>
  <span class="floor-number">-1</span>
  <span class="room-number">015</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">50,7 метри</p>
        <p class="free-premises-title">може бути суміжний з 014</p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх. Кабінет правильної прямокутної форми. Покриття лінолеум</p>
        <button type="button" class="more-detail" data-id="15" data-modal-open>Більше фото</button>
        </div>
      </div>
    </div>   

    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/016_desc/016_364_5_429_8-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/016_mob/016_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" alt="premices" src="./images/premises//016_mob/016_273_322-min.jpg" width="273" height="322"/>
            </picture>
<div class="top-block">
  <p class="premises-floor">поверх</p>
  <span class="floor-number">-1</span>
  <span class="room-number">016</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">49,5 метри</p>
        <p class="free-premises-title">може бути суміжний з 014</p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх. Кабінет правильної прямокутної форми. Покриття лінолеум</p>
        <button type="button" class="more-detail" data-id="16" data-modal-open>Більше фото</button>
        </div>
    </div>
  </div>

      <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/308_desc/308_486_573_1-min.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/308_mob/308_273_322-min.jpg" media="(max-width: 820px)" />
          <img class="free-premises-img" alt="premices" src="./images/premises/308_mob/308_273_322-min.jpg" width="273" height="322"/>
            </picture>
  <div class="top-block">
  <span class="premises-floor">поверх</span>
  <span class="floor-number"> 3</span>
  <span class="room-number second">308</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">34,4 метри</p>
        <p class="free-premises-title"></p>
        <p class="free-premises-info">З двома вікнами на вулицю.  Покриття ковролін</p>
        <button type="button" class="more-detail" data-id="308" data-modal-open>Більше фото</button>
        </div>
      </div>
    </div>

      <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/407_desc/407_486_573.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/407_mob/407_273_322.jpg" media="(max-width: 820px)" />
          <img class="free-premises-img" alt="premices" src="./images/premises/407_mob/407_273_322.jpg" width="273" height="322"/>
            </picture>
  <div class="top-block">
  <span class="premises-floor">поверх</span>
  <span class="floor-number"> 4</span>
  <span class="room-number second">407</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">30,8 метри</p>
        <p class="free-premises-title"></p>
        <p class="free-premises-info">З двома вікнами.  Покриття ковролін</p>
        <button type="button" class="more-detail" data-id="407" data-modal-open>Більше фото</button>
        </div>
      </div>
    </div>


      <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/408_desc/408_486_573.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/408_mob/408_273_322.jpg" media="(max-width: 820px)" />
          <img class="free-premises-img" alt="premices" src="./images/premises/408_mob/408_273_322.jpg" width="273" height="322"/>
            </picture>
  <div class="top-block">
  <span class="premises-floor">поверх</span>
  <span class="floor-number"> 4</span>
  <span class="room-number second">408</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">29,5 метри</p>
        <p class="free-premises-title"></p>
        <p class="free-premises-info">З двома вікнами.  Покриття ковролін</p>
        <button type="button" class="more-detail" data-id="408" data-modal-open>Більше фото</button>
        </div>
      </div>
    </div>

      <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/413_desc/413_486_573.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/413_mob/413_273_322.jpg" media="(max-width: 820px)" />
          <img class="free-premises-img" alt="premices" src="./images/premises/413_mob/413_273_322.jpg" width="273" height="322"/>
            </picture>
  <div class="top-block">
  <span class="premises-floor">поверх</span>
  <span class="floor-number"> 4</span>
  <span class="room-number second">413</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">30,8 метри</p>
        <p class="free-premises-title"></p>
        <p class="free-premises-info">Дві кімнати, кожна з вікном.  Покриття ковролін</p>
        <button type="button" class="more-detail" data-id="413" data-modal-open>Більше фото</button>
        </div>
      </div>
    </div>


      <!-- <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/313_desc/313_314_486_573-min.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/313_mob/313_314_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" alt="premices" src="./images/premises/313_mob/313_314_273_322-min.jpg" width="273" height="322"/>
            </picture>
<div class="top-block">
  <p class="premises-floor">поверх</p>
  <span class="floor-number"> 3</span>
  <span class="room-number-first">313</span>
  <span class="room-number second">314</span>
</div>
        <div class="wrapper-text">
        <p class="free-premises-sq">14,4-16,9 метри</p>
        <p class="free-premises-sq"> сумісно 31,3 метри</p>
        <p class="free-premises-title">Суміжні між собою</p>
        <p class="free-premises-info">З одним вікном на вулицу та скляними елементами між кабінетами. Покриття ковролін</p>
        <button type="button" class="more-detail" data-id="313" data-modal-open>Більше фото</button>
        </div>
    </div>
  </div> -->

</div>

  <div class="wrapper-btn">
	  <div class="swiper-button-prev premices-swiper-button-prev">
		<svg class="left-icon" width="32" height="32">
		<use href="./images/sprite.svg#icon-circle-left"></use>
		</svg>
		</div>
		<div class="swiper-button-next premices-swiper-button-next">
		<svg class="right-icon" width="32" height="32">
		<use href="./images/sprite.svg#icon-circle-right"></use>
		</svg>
		</div>
</div>


            <div class="swiper-pagination"></div>  

</div> 

      <ul class="more-premices"></ul>
      <!-- <button class="close-photo" type="button">Згорнути</button>; -->

</section>

