<!-- Вільні приміщення -->
<section class="premises">
      <div class="border border-premises"></div>
      <div class="container premises-container">
      <div class="premises_title-wrapper title-wrapper">
      <h2 class="premises_title" id="premises">вільні приміщення</h2>
      </div>
      <!-- <ul class="block-photo-premises list"> -->
<div class="top-block">
  
</div>
<div class="premises-swiper swiper">
  <div class="swiper-wrapper ">
    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/013_desc/013_364-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/013_mob/013_273_322-min.jpg" media="(max-width: 820px)" />
          <img class="free-premises-img" src="./images/premises/013_mob/013_273_322-min.jpg" width="273" height="322"/>
            </picture>
        <div class="wrapper-text">
        <p class="free-premises-sq">51,7 метри</p>
        <p class="free-premises-title"></p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх 013. Кабінет правильної прямокутної форми.Покриття лінолеум</p>
        <button class="more-detail">Більше фото</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/014_desc/014_364_5_429_8-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/014_mob/014_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" src="./images/premises/014_mob/014_273_322-min.jpg" width="273" height="322"/>
            </picture>
        <div class="wrapper-text">
        <p class="free-premises-sq">51,5 метри</p>
        <p class="free-premises-title">може бути суміжний з 015</p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх. Кабінет правильної прямокутної форми.Покриття лінолеум</p>
        <button class="more-detail">Більше фото</button>
        </div>
      </div>
    </div>
    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/015_desc/015_364_5_429_8-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/015_mob/015_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" src="./images/premises/015_mob/015_273_322-min.jpg" width="273" height="322"/>
            </picture>
        <div class="wrapper-text">
        <p class="free-premises-sq">50,7 метри</p>
        <p class="free-premises-title">може бути суміжний з 014</p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх. Кабінет правильної прямокутної форми.Покриття лінолеум</p>
        <button class="more-detail">Більше фото</button>
        </div>
      </div>
    </div>   
    <div class="swiper-slide free-premices-item">
      <div class="swiper-slide-image">
        <picture>
          <source srcset="./images/premises/016_desc/016_364_5_429_8-desc.jpg" media="(min-width: 821px)" />
          <source srcset="./images/premises/016_mob/016_273_322-min.jpg" media="(max-width: 820px)" />
        <img class="free-premises-img" src="./images/premises//016_mob/016_273_322-min.jpg" width="273" height="322"/>
            </picture>
        <div class="wrapper-text">
        <p class="free-premises-sq">49,5 метри</p>
        <p class="free-premises-title">може бути суміжний з 014</p>
        <p class="free-premises-info">-1 (напівпідвальний) поверх. Кабінет правильної прямокутної форми.Покриття лінолеум</p>
        <button class="more-detail">Більше фото</button>
        </div>

    </div>

  </div>
      </div>

  <div class="wrapper-btn">
	      <div class="swiper-button-prev">
		<svg class="left-icon" width="32" height="32">
		<use href="./images/sprite.svg#icon-circle-left"></use>
		</svg>
		</div>
		<div class="swiper-button-next">
		<svg class="right-icon" width="32" height="32">
		<use href="./images/sprite.svg#icon-circle-right"></use>
		</svg>
		</div>
</div>

            <div class="swiper-pagination"></div>  
       <!-- <div class="swiper-scrollbar"></div> -->

</div> 

      <!-- </ul> -->

</section>

