<!-- Вільні приміщення -->
<section class="premises">
      <div class="container premises-container">
      <div class="border border-premises"></div>
      <div class="premises_title-wrapper title-wrapper">
      <h2 class="premises_title" id="premises">вільні приміщення</h2>
      </div>
      <ul class="block-photo-premises">
        <!-- <img src="" alt="" width="273" height="322">
        <p></p>
        <p></p>
        <button class="more-detail">Детальніше</button> -->
      </ul>

</section>

