/* =======eatu======================= ABOUT  =============================== */

.about-greeting {
    display: none;
}

.about-info {
    max-width: 820px;
    margin-right: 32px;
    margin-left: 39px;
    margin-top: 62px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.68) 0%, var(--color-text-accent) 100%);
}

.btn-read-more,
.btn-close-more {
    color: var(--brand-color-blue);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.btn-read-more:hover,
.btn-read-more:focus,
.btn-close-more:hover,
.btn-close-more:focus {
    color: var(--color-text-accent);
    background: var(--brand-color-blue);
}

.read-more,
.close-more {
    display: block;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 57px;
}

.about-text {
    margin-bottom: 15px;
    flex-shrink: 0;
    color: var(--color-text-main);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}


@media screen and (max-width: 820px) {
    .second-text {
        display: none;
    }
}



@media screen and (min-width: 821px) {
    .read-more {
    display: none;
}

.about-greeting {
    display: block;
    margin-top: 85px;
    color: var(--color-text-main);
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
}

.about-info {
    overflow: visible;
    visibility: visible;
    opacity: 1;
}

.about-info {
    width: 925px;
    margin: 0 auto 50px;
    color: var(--color-text-main);
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}
}


@media screen and (min-width: 1600px) {
.about-greeting {
    margin-top: 102px;
    font-size: 32px;
    margin-bottom: 27px;
}
}

/* ============================== /ABOUT  =============================== */