.gallery-photo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
}

.image-gal {
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}


/* .gallery_title-wrapper {
    z-index: 1;
} */

.btn-gallery-prev:hover, .btn-gallery-prev:focus,
.btn-gallery-next:hover, .btn-gallery-next:focus {
    transform: scale(1.1);
}

.swiper-button-prev,
.swiper-button-next {
    color: transparent;
}

.btn-gallery-prev,
.btn-gallery-next {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* @media screen and (min-width: 821px) {
    .btn-gallery-prev,
    .btn-gallery-next {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
} */

