.gallery-photo {
    margin-right: auto;
    margin-left: auto;
    /* display: flex;
    gap: 10px; */
}

.swiper-slide-gal {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* .wrapper-slide {
    width: 471px;
    height: 354px
} */

