/* ============================== HEADER  =============================== */
.header {
    background-color: var(--brand-color-red);
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    max-width: 820px;
    display: flex;
    padding-left: 0;
}

.logo-image {
    width: 161px;
    margin-left: 40px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 21px;
    ;
}

.header-phone {
    display: none;
}

.header-info {
    display: none;
}



@media screen and (min-width: 821px) {
    .container {
        max-width: 1439px;
    }

    .header {
        margin-left: 0; 
        background-color: var(--brand-color-blue);
    }


    .header-logo {
        margin-left: 30px;
        margin-right: 150px;
    }

    .wrapper-logo-container {
        background-color: var(--brand-color-red);
        max-width: 600px;
    }

    .header-info {
        display: flex;
        width: 739px;
        background-color: var(--brand-color-blue);
    }

    .nav {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
    }

    .header-list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .header-item:hover, .header-item:focus {
        transform: scale(1.1);
    }
}



@media screen and (min-width: 1440px) {
    .header {
        margin-left: 0px;
    }

    .header-container {
        width: 1440px;
        justify-content: space-between;
    }

    .header-logo {
        margin-left: 0;
        margin-right: 0px;
        width: 410px;
        background-color: var(--brand-color-red);
    }

    .logo-image {
        margin-left: 95px;
    }

    .header-phone {
        display: block;
        width: 455px;
        background-color: var(--brand-color-green);
    }

    .phone-header {
        display: flex;
        padding-top: 20px;
        padding-bottom: 23px;
        justify-content: center;
    }

    .phone-header:hover, .phone-header:focus {
        transform: scale(1.2);
    }  

    .header-info {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .nav {
        flex-wrap: nowrap;
        padding-right: 15px;
        padding-left: 15px;
    }

    .header-list {
        gap: 23px
    }

    .header-link {
        font-size: 16px;
    }
}

/* ============================== /HEADER  =============================== */