    @media screen and (max-width: 820px) {
    .modal {
        width: 100%;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: scroll;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-dur-time), visibility var(--transition-dur-time);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-dur-time);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    overflow-Y: auto;
    display: flex;
    z-index: 10;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.no-scroll {
    overflow: hidden;
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: var(--brand-color-blue);
    border: none;
    border-radius: 50%;
    transition: border-color var(--transition-dur-time), background-color var(--transition-dur-time);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: 1px solid var(--brand-color-blue);
    background-color: var(--color-text-accent);
    color: var(--brand-color-blue);
}

.modal-close-btn-icon {
    fill: var(--color-text-accent);
    transition: fill var(--brand-color-blue);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--brand-color-blue);
}

.test-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 10;
        margin-bottom: 20px;
    }

.close-photo {
    margin: 20px auto;
    display: block;
    padding: 5px 14px;
    background: var(--brand-color-blue);
    color: var(--color-text-accent);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 821px) {
    .modal {
        height: 90vh;
        top: 50%;
        margin-bottom: 20px;
    }
}
        