.scroll {
    position: fixed;
    z-index: 10;
    bottom: 51px;
    right: 51px;
    width: 78px;
    height: 72px;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.show {
    display: flex;
}

.scroll:hover svg,
.scroll:focus svg {
    stroke: var(--brand-color-blue);
}